:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --
}

body {
  font-family: var(--main-font);

}

/*========== COMPONENTS ==========*/
.title {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

ul {
   list-style-type: none;
}

/* ========== END COMPONENTS ==========*/

/* ========== Heder ==========*/
.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: #000000;
}

.logo-color {
  color: var(--accent-color);
}

/*.logo-color-light {
  color: #ffffff;
}*/

.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #212121;
}

.address {
  font-style: normal;
}

.nav-list-link:hover,
.nav-list-link:focus,
.address-mail-link:hover,
.address-mail-link:focus,
.address-tel-link:hover,
.address-tel-link:focus,
.footer-list-link:hover,
.footer-list-link:focus,
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-color);
}

.btn:hover,
.btn:focus {
  color: #ffffff;
  background-color:var(--accent-color);
}

.address-mail-link,
.address-tel-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  color: #757575;
}

/* ========== END Heder ==========*/

/* ========== HERO ==========*/

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  /*color: #ffffff; */
}


.button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
}

/* ========== END HERO ==========*/

/* ========== Features ==========*/
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.description {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

/* ========== About ==========*/

.about-title {
font-family: var(--main-font);
font-weight: 700;
font-size: 36px;
line-height: 1.17px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.about-list {
  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}
/* ========== END About ==========*/

/* ========== TEAM ==========*/
.team-subject-name {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.team-desc-prof {
font-family: var(--main-font);
font-weight: normal;
font-size: 16px;
line-height: 1.18;
text-align: center;
letter-spacing: 0.03em;
color: #757575;
}

/* ========== END TEAM ==========*/

/* ========== FOOTER ==========*/
.footer-list-link {
font-family:  var(--main-font);
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
/*color: #FFFFFF;*/
}

.footer-link {
font-family: var(--main-font);
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
text-decoration: none;
/*color: rgba(255, 255, 255, 0.6);*/
}
/* ========== PORTFOLIO.html ==========*/

/* ========== COMPONENTS ==========*/

/* ========== END COMPONENTS ==========*/

/* ========== MAIN ==========*/

.btn {
font-family: var(--main-font);
font-weight: 500;
font-size: 16px;
line-height: 1.62;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
}

.portfolio-title {
font-family: var(--main-font);
font-weight: 700;
font-size: 18px;
line-height: 2.0;
letter-spacing: 0.06em;
color: #212121;
}

.portfolio-subtitle {
font-family: var(--main-font);
font-weight: 400;
font-size: 16px;
line-height: 1.87;
letter-spacing: 0.03em;
color: #757575;
}

/* ========== END MAIN ==========*/

/* ========== FOOTER ==========*/

/* ========== END FOOTER ==========*/